{{!-- 模板与路由说明 --}}
<ul>
    {{#each model as |user index|}}
    <li>
        {{#if (is-eq index 0)}}<span>{{index}}</span>{{/if}}
        <span>{{user.id}}</span>
        <span>{{user.name}}</span>
        <span>{{user.age}}</span>
    </li>
    {{else}}
    <li>暂无数据</li>
    {{/each}}
</ul>

{{#link-to "demos.demo2"}}demo2{{/link-to}}
