<h2>标题：{{componentName}}</h2>

<table>
    <thead>
        <tr>
            <th>审核人员</th>
            <th>审核说明</th>
            <th>审核描述</th>
            <th>审核时间</th>
        </tr>
    </thead>
    <tbody>
        {{#each list as |item|}}
        <tr>
            <td>{{item.auditMan}}</td>
            <td>{{item.auditMark}}</td>
            <td>{{item.auditStatusDesc}}</td>
            <td>{{item.auditTime}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
