{{!-- 计算属性-demo演示-first last name --}}

<div>uid: {{model.uid}}</div>
<div>
    {{input type="text" value=model.firstName class="form-control inline-block"}}
    {{input type="text" value=model.lastName class="form-control inline-block"}}
</div>
<div>age: {{model.age}}</div>
<div>个人信息：{{showInfo}}</div>
