{{!-- 控制器 --}}
<ul>
    {{#each model as |user index|}}
    <li>
        <span>{{user.id}}</span>
        <span>{{user.name}}</span>
        <span>{{user.age}}</span>
    </li>
    {{else}}
    <li>暂无数据</li>
    {{/each}}
</ul>

<button {{action "press" 100}} class="btn btn-default">press me</button>

<!--
<button onmouseover={{action "press" 100}} class="btn btn-default">press me</button>
-->
