<ul>
    {{#each model as |user index|}}
    <li>
        <span>{{add-one index}}</span>
        <span>{{user.id}}</span>
        <span>{{user.name}}</span>
        <span>{{user.age}}</span>
    </li>
    {{else}}
    <li>暂无数据</li>
    {{/each}}
</ul>
